*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(https://picsum.photos/1600/800) no-repeat;
}
button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: pink;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 3;
}
button::before{
    content: "";
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: orangered;
    position: absolute;
    left: var(--xpos);
    top: var(--ypos);
    transform: translate(-50%,-50%);
}
button:hover::before{
    width: 300px;
    height: 300px;
    transition: 1s all ease-out;
    curson: pointer;
}
